<ul class="bd-footer-links ps-0 mb-3">
    <p class="mb-0"><img src="static/computersnaar.png"></p>
    <li class="d-inline-block"><a class="snapsnare-link-green" href="https://github.com/janripke/snapsnare-api">GitHub</a></li>
    <li class="d-inline-block ms-3"><a class="snapsnare-link-green"href="https://www.facebook.com/groups/667209473321752">Facebook</a></li>
    <li class="d-inline-block ms-3"><a class="snapsnare-link-green" href="/?section={{code.about}}">Over ons</a></li>
</ul>
<p class="mb-0">Met alle liefde ontworpen en gebouwd door het <a class="snapsnare-link-green" href="/?section={{code.team}}">Computersnaar team</a>.</p>
<p class="mb-0">{{code.name}} {{code.version}}, onder code licentie <a class="snapsnare-link-green"
        href="https://github.com/janripke/snapsnare-api/blob/main/LICENSE" target="_blank" rel="license noopener">GPL-3.0</a>.
</p>

